/*---------------------------
[Template Structure]

Project:	 Circles
Version:	 1.0
Primary Use: Site Template 
Layout:      Responsive
Platforms:   Mobile & Tablet
-----------------------------



@charset "UTF-8";

/* 1. General */


body{
    background-color:#FFFFFF;
}

.cu-header-logo{
    width:30px;
    height:30px;
    background-size:30px 30px;
    margin-top: 12px;
    background-image:url(../images/hill.png);
    margin-top:3px;
    float:left;
}


.cu-slider-image-1{background-image:url(../images/about1.jpeg);}
.cu-slider-image-2{background-image:url(../images/about2.jpeg);}



























































